
<div class="pr display">
<form method="POST" action="/api/v1.0/document/download">
    <b>Download document: </b><br />
    <select name="course_id">
        <option value='-1'>-- Courses --</option>
        <%
            for (var i=0, len=courses.length; i<len; ++i) {
                %>
                <option value="<%= courses[i]._id %>"><%= courses[i].code %> / <%= courses[i].year %><%= courses[i].semester %></option>
                <%
            }
        %>
    </select> 
    <select class="projectTypes" name="projectType">
        <option value='-1'>-- Project Types --</option>
    </select>
    <select class="students" name="user_id">
        <option value='-1'>-- Students --</option>
    </select>
    <select class="fielname" name="fileName">
        <option value='-1'>-- File Name --</option>
    </select>
    <input type="submit" name="download" value="Download" />
    <br />
</form>
</div>