    <ul>
        <li class="email">Email address: <input type='text' name='email' /></li>
        <li class="password">Password: <input type='password' name='password' /></li>
        <li class="button"><input type='button' value="Sign in" /></li>
    </ul>
